/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Default Yeast Calling Cards Configuration'
    config_profile_description = 'A default configuration for yeast calling cards experiments'

    input                      = "${projectDir}/assets/yeast/input_samplesheet.csv"
    organism                   = 'yeast'
    promoter_bed               = "${projectDir}/assets/yeast/promoters_700_upstream.bed"
    background_qbed             = "${projectDir}/assets/yeast/S288C_dSir4_Background.qbed"
    chr_map                    = "${projectDir}/assets/yeast/chr_map.csv"
    require_exact_length       = 'false'
    aligner                    = 'bwamem2'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNN'
    r2_bc_pattern              = 'NNNNNNNNNNNN'
    reduce_to_se               = true
    r1_crop                    = true
    r1_crop_length             = 88
    barcode_length             = 34
    min_mapq                   = 10
    insertion_length           = 1

}
