/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Default Mammalian Calling Cards Configuration'
    config_profile_description = 'A default configuration for mammalian calling cards experiments'

    organism                   = 'mammal'
    promoter_bed               = "${projectDir}/assets/human_test_promoters.bed"
    background_data            = "${projectDir}/assets/human_background_data.csv"
    chr_map                    = "${projectDir}/assets/human/chr_map.csv"
    aligner                    = 'bwamem2'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN'
    barcode_length             =  38
    min_mapq                   =  10
    insertion_length           =  4

}
