/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_FAIDX {
        publishDir = [
            enabled: params.save_reference,
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    // add barcode patterns to
    withName: UMITOOLS_EXTRACT {
        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/processed_reads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        // if the r2 pattern is empty, only add the r1 barcode
        ext.prefix = { "${meta.id}_barcoded" }
        ext.args = [
            "--bc-pattern=${params.r1_bc_pattern}",
            params.r2_bc_pattern ? "--bc-pattern2=${params.r2_bc_pattern}" : ""
        ].join(' ').trim()
    }

    // add barcode patterns to
    withName: TRIMMOMATIC {
        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/processed_reads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        // if the r2 pattern is empty, only add the r1 barcode
        ext.prefix = { "${meta.id}_barcoded_cropped" }
        ext.args = [
            "CROP:${params.r1_crop_length}"
        ].join(' ').trim()
    }

    // Do not output bams without read group and tags
    // todo: consider making this a user selection
    withName: BWAMEM2_INDEX {
        publishDir = [
            enabled: params.save_reference,
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Do not output bams without read group and tags
    // todo: consider making this a user selection
    withName: BWAMEM2_MEM {
        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/alignment/unsorted" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_SORT {
        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/alignment/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/alignment/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: ADD_RG_AND_TAGS {

        publishDir = [
            enabled: params.save_intermediate,
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COUNT_HOPS {

        publishDir = [
            path: { "${params.outdir}/quantification" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BARCODE_QC_DEMULTIPLEX {

        publishDir = [
            path: { "${params.outdir}/quantification" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: YEAST_FIND_SIG_PROMOTERS {

        publishDir = [
            path: { "${params.outdir}/quantification" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
